Repository thomfrick/foozball: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, backend-unit-tests, frontend-tests

.pre-commit-config.yaml:

# Pre-commit configuration for Foosball ELO Tracker
# Quality checks for backend (Python) and frontend (TypeScript/React)

repos:
  # Basic file quality
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # Python code quality
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.5
    hooks:
      - id: ruff
        files: ^backend/
        args: [--fix]
      - id: ruff-format
        files: ^backend/

  # Frontend code quality (ESLint - using local version)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend-eslint
        entry: npm run lint:fix --prefix frontend
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: frontend-prettier
        name: frontend-prettier
        entry: npm run format --prefix frontend
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|html|md)$
        pass_filenames: false

  # Testing hooks
  - repo: local
    hooks:
      - id: backend-unit-tests
        name: backend-unit-tests
        entry: uv run --directory backend pytest tests/unit/ -x -q
        language: system
        files: ^backend/
        types: [python]
        pass_filenames: false

      - id: frontend-tests
        name: frontend-tests
        entry: npm run test:run --prefix frontend
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

# Settings
default_stages: [pre-commit]
fail_fast: false

♻️ refactor: eliminate ELO rating system in favor of TrueSkill only
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  backend/app/api/v1/players.py
  backend/app/core/config.py
  backend/app/main.py
  backend/app/models/player.py
  backend/app/schemas/player.py
  backend/migrations/versions/a470f7d40e7e_remove_elo_rating_column.py
  backend/run_tests.py
  backend/tests/integration/test_api.py
  backend/tests/integration/test_database.py
  backend/tests/integration/test_player_api.py
  backend/tests/unit/test_config.py
  backend/tests/unit/test_models.py
  docs/API_STANDARDS.md
  docs/CICD_PIPELINE.md
  docs/CONFIG_MANAGEMENT.md
  docs/DATABASE_SCHEMA.md
  docs/DEVELOPMENT.md
  docs/TECH_STACK.md
  frontend/package.json
  frontend/src/types/player.ts
Due: frontend-eslint, frontend-prettier, backend-unit-tests, frontend-tests

Implement complete Phase 1.1.F Frontend Player Management
  CLAUDE.md
  FEATURES_PLAN.md
  frontend/src/components/AddPlayerForm.tsx
  frontend/src/components/DeletePlayerConfirm.tsx
  frontend/src/components/PlayerDetail.tsx
  frontend/src/components/PlayerList.tsx
  frontend/src/components/__tests__/AddPlayerForm.test.tsx
  frontend/src/hooks/__tests__/useDebounce.test.ts
  frontend/src/hooks/useDebounce.ts
  frontend/src/pages/PlayersPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-tests

🐛 fix: resolve Docker networking and API connection issues
  docker-compose.dev.yml
  frontend/src/api/client.ts
Due: frontend-eslint, frontend-prettier, frontend-tests

✅ feat: complete Phase 0.3 Integration Testing with comprehensive test suite
  .gitignore
  FEATURES_PLAN.md
  README.md
  backend/tests/integration/test_error_scenarios.py
  docs/TESTING.md
  e2e-tests/package-lock.json
  e2e-tests/package.json
  e2e-tests/playwright.config.ts
  e2e-tests/tests/basic-navigation.spec.ts
  e2e-tests/tests/player-management.spec.ts
  e2e-tests/tsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/api/client.ts
  frontend/src/components/__tests__/AddPlayerForm.integration.test.tsx
  frontend/src/pages/__tests__/PlayersPage.integration.test.tsx
  frontend/src/test/mocks/handlers.ts
  frontend/src/test/mocks/server.ts
  frontend/src/test/setup-integration.ts
  frontend/vite.config.ts
  test-results/.last-run.json
Due: frontend-eslint, frontend-prettier, backend-unit-tests, frontend-tests

refactor: small changes to FEATURES_PLAN
  CALUDE.md
  FEATURES_PLAN.md
Due: none

feat: improve cluade.md
  CLAUDE.md
  use_gemini.md
Due: none

🐛 fix: resolve integration test database error handling failures
  backend/app/main.py
  backend/tests/integration/test_error_scenarios.py
  frontend/src/api/client.ts
  frontend/src/pages/__tests__/PlayersPage.integration.test.tsx
Due: frontend-eslint, frontend-prettier, backend-unit-tests, frontend-tests

✅ feat: complete Phase 0.3 Integration Testing with comprehensive fixtures and CI/CD pipeline
  .github/workflows/ci.yml
  FEATURES_PLAN.md
  backend/conftest.py
  backend/tests/fixtures.py
  backend/tests/integration/test_fixtures_integration.py
  frontend/src/components/__tests__/AddPlayerForm.integration.test.tsx
  frontend/src/pages/__tests__/PlayersPage.integration.test.tsx
  frontend/src/test/fixtures.ts
  frontend/src/test/mocks/handlers.ts
  frontend/tests/fixtures.test.tsx
  scripts/validate-ci.sh
Due: frontend-eslint, frontend-prettier, backend-unit-tests, frontend-tests

✅ feat: complete Phase 1.2.T Comprehensive Testing Suite with 100% test success
  FEATURES_PLAN.md
  backend/app/api/v1/games.py
  backend/app/api/v1/players.py
  backend/app/api/v1/router.py
  backend/app/models/__init__.py
  backend/app/models/game.py
  backend/app/schemas/__init__.py
  backend/app/schemas/game.py
  backend/migrations/versions/0204a1c14e30_create_games_table.py
  backend/tests/integration/test_game_api.py
  backend/tests/integration/test_game_performance.py
  backend/tests/unit/test_game_endpoints.py
  e2e-tests/tests/error-scenarios.spec.ts
  e2e-tests/tests/game-history.spec.ts
  e2e-tests/tests/game-recording.spec.ts
  e2e-tests/tests/mobile-workflow.spec.ts
  frontend/e2e/game-history.spec.ts
  frontend/e2e/game-recording.spec.ts
  frontend/e2e/player-selection.spec.ts
  frontend/src/api/games.ts
  frontend/src/components/AddGameForm.tsx
  frontend/src/components/GameHistory.tsx
  frontend/src/components/RecentGamesList.tsx
  frontend/src/components/__tests__/AddGameForm.integration.test.tsx
  frontend/src/components/__tests__/AddGameForm.test.tsx
  frontend/src/components/__tests__/ErrorBoundary.integration.test.tsx
  frontend/src/components/__tests__/GameHistory.integration.test.tsx
  frontend/src/components/__tests__/GameHistory.test.backup.tsx
  frontend/src/components/__tests__/GameHistory.test.tsx
  frontend/src/components/__tests__/RecentGamesList.integration.test.tsx
  frontend/src/components/__tests__/RecentGamesList.test.backup.tsx
  frontend/src/components/__tests__/RecentGamesList.test.tsx
  frontend/src/components/__tests__/ResponsiveDesign.test.tsx
  frontend/src/hooks/useApi.ts
  frontend/src/pages/__tests__/PlayersPage.integration.test.tsx
  frontend/src/test/mocks/handlers.ts
  frontend/src/test/setup-integration.ts
  frontend/src/types/game.ts
Due: frontend-eslint, frontend-prettier, backend-unit-tests, frontend-tests

🧹 chore: fix linting and formatting issues in test files
  frontend/src/components/__tests__/AddGameForm.integration.test.tsx
  frontend/src/components/__tests__/ErrorBoundary.integration.test.tsx
  frontend/src/components/__tests__/GameHistory.integration.test.tsx
  frontend/src/components/__tests__/GameHistory.test.backup.tsx
  frontend/src/components/__tests__/GameHistory.test.tsx
  frontend/src/components/__tests__/RecentGamesList.integration.test.tsx
  frontend/src/components/__tests__/RecentGamesList.test.backup.tsx
  frontend/src/components/__tests__/RecentGamesList.test.tsx
  frontend/src/test/mocks/handlers.ts
  frontend/src/test/setup-integration.ts
Due: frontend-eslint, frontend-prettier, frontend-tests

✅ feat: complete Phase 1.3 Backend TrueSkill Rating System
  CLAUDE.md
  FEATURES_PLAN.md
  backend/app/api/v1/games.py
  backend/app/models/__init__.py
  backend/app/models/player.py
  backend/app/models/rating_history.py
  backend/app/services/trueskill_service.py
  backend/migrations/versions/bfe61d6de776_add_rating_history_table_for_trueskill_.py
  backend/tests/integration/test_trueskill_integration.py
  backend/tests/unit/test_trueskill_service.py
Due: backend-unit-tests

✅ feat: complete Phase 1.3 TrueSkill Frontend Implementation
  CLAUDE.md
  FEATURES_PLAN.md
  README.md
  e2e-tests/tests/mobile-workflow.spec.ts
  frontend/src/App.tsx
  frontend/src/components/Leaderboard.tsx
  frontend/src/components/PlayerList.tsx
  frontend/src/components/TrueSkillRating.tsx
  frontend/src/components/__tests__/ErrorBoundary.integration.test.tsx
  frontend/src/components/__tests__/Leaderboard.test.tsx
  frontend/src/components/__tests__/TrueSkillRating.test.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/LeaderboardPage.tsx
  frontend/src/pages/__tests__/HomePage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-tests

🐛 fix: resolve database constraint violations in TrueSkill integration tests
  backend/pyproject.toml
  backend/tests/integration/test_trueskill_integration.py
Due: backend-unit-tests

🎯 feat: complete Phase 1.4 Advanced UI/UX & achieve 100% test success
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/AddGameForm.tsx
  frontend/src/components/AddPlayerForm.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/GameHistory.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/Leaderboard.tsx
  frontend/src/components/LoadingSpinner.tsx
  frontend/src/components/PlayerList.tsx
  frontend/src/components/RecentGamesList.tsx
  frontend/src/components/ThemeToggle.tsx
  frontend/src/components/__tests__/Accessibility.test.tsx
  frontend/src/components/__tests__/AddGameForm.integration.test.tsx
  frontend/src/components/__tests__/AddGameForm.test.tsx
  frontend/src/components/__tests__/AddPlayerForm.integration.test.tsx
  frontend/src/components/__tests__/AddPlayerForm.test.tsx
  frontend/src/components/__tests__/ErrorBoundary.integration.test.tsx
  frontend/src/components/__tests__/GameHistory.integration.test.tsx
  frontend/src/components/__tests__/GameHistory.test.tsx
  frontend/src/components/__tests__/Leaderboard.test.tsx
  frontend/src/components/__tests__/RecentGamesList.integration.test.tsx
  frontend/src/components/__tests__/RecentGamesList.test.tsx
  frontend/src/components/__tests__/ResponsiveDesign.test.tsx
  frontend/src/components/__tests__/TrueSkillRating.test.tsx
  frontend/src/contexts/ThemeContext.tsx
  frontend/src/main.tsx
  frontend/src/pages/AboutPage.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/LeaderboardPage.tsx
  frontend/src/pages/__tests__/HomePage.test.tsx
  frontend/src/pages/__tests__/PlayersPage.integration.test.tsx
  frontend/src/test/mocks/handlers.ts
  frontend/src/test/setup-integration.ts
  frontend/src/test/setup.ts
  frontend/tailwind.config.js
Due: frontend-eslint, frontend-prettier, frontend-tests

📚 docs: update README.md and FEATURES_PLAN.md for Phase 1.4 completion
  FEATURES_PLAN.md
  frontend/README.md
Due: frontend-prettier

feat: updated documentation
  FEATURES_PLAN.md
  README.md
  docs/TECH_STACK.md
  docs/TESTING.md
  docs/UI-DESIGN.md
Due: none

✅ feat: complete Phase 1.2.T.E2E cross-browser testing & update documentation
  FEATURES_PLAN.md
  e2e-tests/playwright.config.ts
  frontend/playwright.config.ts
Due: frontend-eslint, frontend-prettier, frontend-tests

🏆 feat: complete Phase 2.2.B Team Games Backend with comprehensive testing
  backend/app/api/v1/router.py
  backend/app/api/v1/teamgames.py
  backend/app/api/v1/teams.py
  backend/app/models/__init__.py
  backend/app/models/team.py
  backend/app/models/teamgame.py
  backend/app/schemas/__init__.py
  backend/app/schemas/team.py
  backend/app/services/trueskill_service.py
  backend/migrations/versions/f649a3bad5e4_add_team_and_team_games_tables.py
  backend/tests/integration/test_team_api.py
  backend/tests/unit/test_team_models.py
  backend/tests/unit/test_team_trueskill.py
Due: backend-unit-tests

🎯 feat: complete Phase 2.2.F Team Games Frontend with comprehensive UI
  FEATURES_PLAN.md
  frontend/src/App.tsx
  frontend/src/api/teams.ts
  frontend/src/components/AdvancedTeamGameForm.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/Leaderboard.tsx
  frontend/src/components/QuickTeamGameForm.tsx
  frontend/src/components/TeamGameHistory.tsx
  frontend/src/components/TeamLeaderboard.tsx
  frontend/src/components/TeamSelectionModal.tsx
  frontend/src/components/TeamTrueSkillRating.tsx
  frontend/src/components/__tests__/Accessibility.test.tsx
  frontend/src/components/__tests__/MobileResponsiveness.test.tsx
  frontend/src/components/__tests__/TeamCard.test.tsx
  frontend/src/components/__tests__/TeamGameHistory.test.tsx
  frontend/src/components/__tests__/TeamTrueSkillRating.test.tsx
  frontend/src/components/ui/Card.tsx
  frontend/src/components/ui/Modal.tsx
  frontend/src/hooks/useApi.ts
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/LeaderboardPage.tsx
  frontend/src/pages/TeamGameHistoryPage.tsx
  frontend/src/pages/TeamGamesPage.tsx
  frontend/src/pages/TeamStatsPage.tsx
  frontend/src/pages/TeamsPage.tsx
  frontend/src/types/team.ts
  reports/backend.md
  reports/backend_tests.md
  reports/frontend.md
Due: frontend-eslint, frontend-prettier, frontend-tests

feat: complete Phase 2.3 Data Visualization with interactive charts
  FEATURES_PLAN.md
  backend/app/api/v1/analytics.py
  backend/app/api/v1/players.py
  backend/app/api/v1/router.py
  backend/app/core/test_config.py
  backend/app/db/test_database.py
  backend/app/schemas/rating_history.py
  backend/tests/integration/test_database.py
  backend/tests/integration/test_error_scenarios.py
  backend/tests/integration/test_game_api.py
  backend/tests/unit/test_config.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/analytics.ts
  frontend/src/api/players.ts
  frontend/src/components/InteractiveRatingChart.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/MultiPlayerComparisonChart.tsx
  frontend/src/components/RatingProgressionChart.tsx
  frontend/src/components/WinLossStreakChart.tsx
  frontend/src/components/__tests__/MultiPlayerComparisonChart.test.tsx
  frontend/src/components/__tests__/RatingProgressionChart.test.tsx
  frontend/src/components/__tests__/WinLossStreakChart.test.tsx
  frontend/src/hooks/useApi.ts
  frontend/src/pages/AnalyticsPage.tsx
  frontend/src/types/player.ts
Due: frontend-eslint, frontend-prettier, backend-unit-tests, frontend-tests

📊 feat: complete Phase 2.4 Enhanced Statistics & Analytics Dashboard
  backend/app/api/v1/router.py
  backend/app/api/v1/statistics.py
  backend/app/schemas/statistics.py
  backend/tests/integration/test_statistics_api.py
  backend/tests/unit/test_statistics.py
  frontend/src/App.tsx
  frontend/src/api/statistics.ts
  frontend/src/components/Layout.tsx
  frontend/src/components/statistics/EnhancedLeaderboard.tsx
  frontend/src/components/statistics/HeadToHeadComparison.tsx
  frontend/src/components/statistics/PlayerStatisticsPanel.tsx
  frontend/src/components/statistics/StatsSummaryCard.tsx
  frontend/src/components/statistics/__tests__/EnhancedLeaderboard.test.tsx
  frontend/src/components/statistics/__tests__/HeadToHeadComparison.test.tsx
  frontend/src/components/statistics/__tests__/StatisticsDashboard.test.tsx
  frontend/src/components/statistics/__tests__/StatsSummaryCard.test.tsx
  frontend/src/hooks/useStatistics.ts
  frontend/src/pages/StatisticsDashboard.tsx
  frontend/src/types/statistics.ts
Due: frontend-eslint, frontend-prettier, backend-unit-tests, frontend-tests

🔧 fix: resolve frontend test failures in statistics components
  frontend/src/components/statistics/EnhancedLeaderboard.tsx
  frontend/src/components/statistics/HeadToHeadComparison.tsx
  frontend/src/components/statistics/PlayerStatisticsPanel.tsx
  frontend/src/components/statistics/__tests__/EnhancedLeaderboard.test.tsx
  frontend/src/components/statistics/__tests__/HeadToHeadComparison.test.tsx
  frontend/src/components/statistics/__tests__/StatisticsDashboard.test.tsx
  frontend/src/pages/StatisticsDashboard.tsx
Due: frontend-eslint, frontend-prettier, frontend-tests

📚 docs: update all documentation for Phase 2.4 completion
  FEATURES_PLAN.md
  README.md
  docs/TECH_STACK.md
  docs/TESTING.md
  frontend/src/api/client.ts
  frontend/src/components/TrueSkillRating.tsx
  frontend/src/components/WinLossStreakChart.tsx
  frontend/src/hooks/useStatistics.ts
  frontend/tsconfig.app.json
Due: frontend-eslint, frontend-prettier, frontend-tests

📝 fix: make Phase 2.4 consistent throughout FEATURES_PLAN.md
  FEATURES_PLAN.md
Due: none
